<!DOCTYPE html>
<html>
    <head>
        <title>E-menu</title>
    </head>
    <body>
        <h1>Welcome to our restaurant ...</h1>

        {% if menus %}
            <ul>
                {% for menu in menus %}
                    {% if menu.all.count > 0 %}
                        <li><a href="/menu/{{ menu.url }}">{{ menu.name }}</a></li>
                    {%endif%}
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no menus present.</strong>
        {% endif %}

        {% load staticfiles %}
        <img src="{% static 'emenu_app/cherries.jpg' %}" alt="Picture of two cherries" />
        <footer>
            <a href='http://www.scienceandit.net' target="_blank">&copy; A.Z.</a>
        </footer>

    </body>
</html>