<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>E-menu</title>
        <link href="{% static 'css/emenu.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to our restaurant ...</h1>

        {% if menus %}
            <ul>
                {% for menu in menus %}
                    {% if menu %}
                        <li><a href="/menu/{{ menu.url }}">{{ menu.name }}</a></li><br/>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no menus present.</strong>
        {% endif %}


        <img src="{% static 'emenu_app/cherries.jpg' %}" alt="Picture of two cherries" />
        <footer>
            <a href='http://www.scienceandit.net' target="_blank">&copy; A.Z.</a>
        </footer>

    </body>
</html>