<!DOCTYPE html>
<html>
    <head>
        <title>{{menu.title}}</title>
    </head>

    <body>
        <h1 style="margin-left:30%; margin-right:30%;">{{ menu_name }}</h1>
        {% if menu %}
            {% if danies %}
            <ul>
                {% for danie in danies %}
                    <li>
                        <a href="{{ danie.url }}">{{ danie.title }}</a>
                        <h3>{{danie.description}}</h3>
                        {% if danie.picture %}
	                        <img src="{{ danie.picture.url }}" alt="Oops, no image" />
                            <hr/>
	                    {% endif %}


                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No dishes currently in menu.</strong>
            {% endif %}
        <a href='http://www.scienceandit.net' target="_blank">Author's homepage</a>
        {% else %}
            The specified menu {{ menu_name }} does not exist!
        {% endif %}
    </body>
</html>